* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    line-height: 1.6;
}

nav {
    background-color: black;
    border-bottom: 1px solid black;
}

nav ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}


nav li {
    display: flex;
}

nav .home {
    margin-right: auto;
}

nav a {
    display: flex;
    text-decoration: none;
    color: white;
    padding: 1rem 2rem;
    transition: background-color 150ms ease;
}

nav a:hover {
    background-color: #88AB75;
}

nav a.active-link {
    border-bottom: 3px solid #FEEFE5;
}

nav a.accent-link {
    background-color: #FF6B35;
}

#open-sidebar {
    display: none;
    background: none;
    border: none;
    padding: 1rem;
    margin-left: auto;
    cursor: pointer;
}

#close-sidebar {
    display: none;
    background: none;
    border: none;
    padding: 1rem;
    cursor: pointer;
}

#overlay {
    background-color: #000000d2;
    position: fixed;
    inset: 0;
    z-index: 9;
    display: none;
}

@media screen and (max-width: 600px) {

    #open-sidebar,
    #close-sidebar {
        display: block;
    }

    nav {
        position: fixed;
        top: 0;
        right: -100%;
        height: 100vh;
        width: min(15em, 100%);
        z-index: 10;
        border-left: 1px solid black;
        transition: right 300ms ease-in-out;
    }

    nav.show {
        right: 0;
    }

    nav.show~#overlay {
        display: block;
    }

    nav ul {
        width: 100%;
        flex-direction: column;
    }

    nav a {
        width: 100%;
        padding-left: 2.5rem;
    }

    nav a.active-link {
        border-bottom: none;
    }

    nav .home {
        margin-right: unset;
    }


}

.mainContainer {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    justify-content: center;
    padding: 0.5rem 0 0.5rem 0;
    background-image: url(../assets/table1.jpg)
}



.mainContainer .leftContent {
    background-color: #a3dff1;
    width: 17%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0.5rem 0 0.5rem 0;
    border: 2px solid white;
}

.mainContainer .leftContent .pictureContainer {
    display: flex;
    justify-content: center;
}

.mainContainer .leftContent .pictureContainer .picture {
    height: 13rem;
    border-radius: 50%;
    border: 0.5rem solid white;
}

.mainContainer .leftContent .leftInfo {
    display: flex;
    flex-direction: column;
    margin: 0.5rem 0 0 0.5rem;
}

.mainContainer .leftContent .leftInfo .leftInfoTitle {
    font-weight: bold;
    font-size: large;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    gap: 0.5rem;

}

.mainContainer .leftContent .leftInfo .leftLists {
    margin: 0 0 0.5rem 0;
}

.mainContainer .leftContent .leftInfo .icons {
    height: 2rem;
}


.mainContainer .mainContent {
    width: 30%;
    border: 2px solid white;
    border-left: none;
    /* border-radius: 0 2rem 2rem 0; */
    padding: 0 0.5rem 0 0.5rem;
    background-color: white;

}

.mainContainer .mainContent .name {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    font-size: xx-large;
    line-height: 0;


}

.mainContainer .mainContent .title {
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: 1.5rem;
}

.mainContainer .mainContent .title img {
    height: 2rem;
}



.mainContainer .mainContent .bonus {
    display: flex;
}

.mainContainer .mainContent .mainInfo .dots {
    list-style: circle;
}

.mainContainer .mainContent .bonus .dots {
    list-style: circle;
}