* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    line-height: 1.6;
}

/* .skip-link {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1000;
    background-color: hotpink;
    color: black;
    padding: 3rem 6rem;
    border-radius: 2rem;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
    transition: opacity 0.3s ease;
}

.skip-link:focus {
    opacity: 1;
    pointer-events: auto;
    outline: 2px solid black;
} */


nav {
    background-color: black;
    border-bottom: 1px solid black;
    
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    display: flex;
}

nav .home {
    margin-right: auto;
}

nav a {
    display: flex;
    text-decoration: none;
    color: white;
    padding: 1rem 2rem;
    transition: background-color 150ms ease;
}

nav a:hover {
    background-color: #88AB75;
}

nav a.active-link {
    border-bottom: 3px solid #FEEFE5;
}

nav a.accent-link {
    background-color: #FF6B35;
}

#open-sidebar {
    display: none;
    background: none;
    border: none;
    padding: 1rem;
    margin-left: auto;
    cursor: pointer;
}

#close-sidebar {
    display: none;
    background: none;
    border: none;
    padding: 1rem;
    cursor: pointer;
}

#overlay {
    background-color: #000000d2;
    position: fixed;
    inset: 0;
    z-index: 9;
    display: none;
}


@media screen and (max-width: 600px) {

    #open-sidebar,
    #close-sidebar {
        display: block;
    }

    nav {
        position: fixed;
        top: 0;
        right: -100%;
        height: 100vh;
        width: min(15em, 100%);
        z-index: 10;
        border-left: 1px solid black;
        transition: right 300ms ease-in-out;
    }

    nav.show {
        right: 0;
    }

    nav.show~#overlay {
        display: block;
    }

    nav ul {
        width: 100%;
        flex-direction: column;
    }

    nav a {
        width: 100%;
        padding-left: 2.5rem;
    }

    nav a.active-link {
        border-bottom: none;
    }

    nav .home {
        margin-right: unset;
    }


}